@charset "utf-8";
/* CSS Document */
.container{
    max-widht:990px;
	z-index:0;
	
	
}
#inputMail{
	align:center;
	height: 40px;
	margin-top: -3px;
	margin-bottom: 15px;
	border-radius:6px;
	border: 1px solid #BDBDBD;


}
#inputPassword{
	height: 40px;
	border-radius:6px;
	border: 1px solid #BDBDBD;
	margin-top: -3px;
}
.form-group
{
	width:auto;
	height:auto;
	
}
.button{
	width:200px;
	height: 40px;
	margin-top:90px;
	background:#43b2f8;
	color: white;
	font-weight: bold;
	border-radius:6px;
	border: 1px solid #BDBDBD;
}
.image{
	position: absolute;
	margin-top: 10px;
	width: 108px;
}
.kaydol{
	margin-top: 50px;
	text-align:center;
}




