/* CSS Document */
.vertical-menu {
  width:100%;
  height: 100%;
  display: none;
  position: relative;
}

.vertical-menu a {
  background-color:white;
  color: black; 
  display: block; 
  padding: 10px; 
  margin-left: 10px;
  font-weight:550;

}

.vertical-menu a:hover {
  border: 1px solid #2B8FEC;
    text-decoration: none;
}
.header{
	margin-left: 13px;
}
.line{
	margin-bottom:0px;
}
.row{
	height: auto;
}
.logo{
	margin-top:-5px;
}
.bids img{
    float:left;
    padding:0 10px 10px 0;
}
.bids button{
	padding: 10px;
	width:220px;
}
.request a{
	margin-left: 5px;
}
#clock1{
	padding:0px 0px 0px 2px;
}
.information{
	text-align: center;
}
.episode i{
	margin-top:12px;
}
.underside img{
	float:left;
    height: 50px;
}



